* {
  margin: 0;
  /* border: solid 1px black; */
}

:root {
  --padding: 2rem;
}

body {
  height: 100vh;
  background-color: #f2f2f2;
  background-color: #252525;
  padding: var(--padding);
}

.header {
  height: 5rem;
  width: 100%;
  background-color: rgba(255, 204, 0, 0.771);
  display: grid;
}

.main {
  background-color: #ffff;
  background-color: #aaa5a5;
  background-color: #fff;
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 100%,
      #abced4 1px,
      #abced4 1px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  height: fit-content;
  min-height: calc(100vh * 0.2 - var(--padding));
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
}

#ListName {
  color: #252525;
  position: relative;
  margin: auto auto 2rem auto;
  display: flex;
  font-size: 2rem;
  width: 80%;
  height: fit-content;
  background-color: rgba(245, 245, 220, 0);
  border: none;
  padding: 8px;
  font-weight: 700;
  text-align: left;
}

#ListName:focus {
  border-bottom: 1px solid rgba(240, 19, 19, 0.15);
  border-radius: 0;
  outline: none;
}

.sub_task,
.task_name {
  width: 80%;
  height: 2.5rem;
  margin: 1rem auto auto 2rem;
  display: flex;
  font-size: 2rem;
}

.sub_task {
  margin: 0.5rem auto auto 3rem;
}

.checkbox,
.checkbox,
.addBTN {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: rgba(245, 245, 220, 0);
  border: 1px solid rgba(71, 68, 68, 0.751);
  border-radius: 20%;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.sub_task button h2,
.task_name button h2,
.icon {
  color: rgba(23, 21, 21, 0.859);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -55%;
}

.sub_task input,
.task_name input {
  width: 80%;
  height: fit-content;
  background-color: rgba(245, 245, 220, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
  /* text-decoration: line-through; */
  font-weight: 500;
}

.task_name input {
  font-weight: 600;
}

.sub_task input:focus,
.task_name input:focus {
  border-bottom: 1px solid rgba(240, 19, 19, 0.15);
  border-radius: 0;
  outline: none;
}

.action {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: rgba(245, 245, 220, 0);
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  /* border: #252525 dotted 1px; */
}

.sub_task {
  display: flex;
}

button {
  margin: 0 8px;
}

.popupADD::before {
  content: "add subtask";
  padding: 4px;
  border-radius: 4px;
  border: 1px rgb(149, 148, 148) solid;
  height: fit-content;
  width: fit-content;
  background-color: whitesmoke;
  position: absolute;
  top: -0px;
  left: -90px;
  opacity: 0;
  transition: 2000ms;
  display: none;
}

.popupADD:hover::before {
  opacity: 0.7;
  display: block;
}

.popupDEL::before {
  content: "delete task";
  padding: 4px;
  border-radius: 4px;
  border: 1px rgb(149, 148, 148) solid;
  height: fit-content;
  width: fit-content;
  background-color: whitesmoke;
  position: absolute;
  top: -0px;
  right: -80px;
  opacity: 0;
  transition: 2000ms;
  display: none;
}

.popupDEL:hover::before {
  opacity: 0.7;
  display: block;
}

.backspace::before {
  content: "delete subtask";
  left: -100px;
  top: 3px;
  display: none;
}

.redBTN,
.greenBTN {
  display: flex;
  background-color: red;
  font-size: 16px;
  border-radius: 8px;
  color: whitesmoke;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: auto;
  margin-top: 16px;
  border: none;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;

  padding: 16px;
}

.greenBTN {
  background-color: #259613;

  padding: 16px;
}

.redBTN:hover,
.greenBTN:hover {
  background-color: rgba(255, 179, 0, 0.597);
}

/* .bordered {
    border: dotted 1px magenta;
} */

#modal {
  background-color: #252525e6;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  margin: 0;
  padding: 0;
}

#inmodal {
  display: flax;
  background-color: whitesmoke;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  border-radius: 4px;
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 14px 5px rgba(0, 0, 0, 0.38);
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 14px 5px rgba(0, 0, 0, 0.38);
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
    width: 100%;
  }

  .main {
    width: 100%;
    height: fit-content;
    min-height: 60vh;
    width: 99%;
    margin: 0;
    padding: 0;
  }

  #ListName {
    font-size: 1.2rem;
    text-align: center;
  }
}
